<!DOCTYPE html>
<html>
	{{>header}}
    <body>
    	<div id="main">
        <h1>{{pageTitle}}</h1>
        <p>{{screamIt welcomeMsg}}</p>

        <p><a href="/login">Login</a></p>
        <p><a href="/registration">Register/Sign Up</a></p>
        </div>

        {{>footer}}
    </body>
</html>