<!DOCTYPE html>
<html>
    <body>
        <h1>ABOUT<h1>

	<p>The average person can hold only 5 to 9 objects in their working memory at a time, so it comes as no surprise that many important tasks often slip the average person’s memory.

	But with RemindMe!, you never have to forget a thing again. RemindMe! allows its users to schedule SMS messages to be sent at a given date and time. Its simple, user-friendly interface makes RemindMe! an accessible tool for individuals of all abilities. This web application is ideal for your grandmother who needs reminders to take her medicine, a small business owner who wants to send an appointment reminder to a client, a busy student who needs reminders to go to the gym, and everyone in between. \n Because the application uses SMS, users can receive reminders even without a WiFi connection. Wherever you are, you can always be up to date! Thanks to RemindMe!, remembering just got easier. </p>

    </body>
</html>