<!DOCTYPE html>
<html>

<script>
var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}
</script>

<body>


<h2>Account Setup</h2>

<form id="myacct" action="/submitted" method = "post">
  <label for="num"><b>Enter your phone number: +1 </b></label>
  <input type="tel" placeholder="Enter your phone number" pattern="[0-9]{10}" name="num" required>

<br>

  <label for="pass"><b>Create a password: </b></label>
      <input name="password" placeholder="Password" id="password" type="password" onkeyup='check();' required>
  </label>
<br>

  <label for="pass2"><b>Confirm your password: </b></label>
      <input type="password" placeholder="Repeart password" name="confirm_password" id="confirm_password"  onkeyup='check();' required> 
      <span id='message'></span>
  </label>
 <br> 
  <input type="submit" value="Submit">
</form> 

</body>
</html>