<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>log in page</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="log_in_page.css"/>
<script id="applicationScript" type="text/javascript" src="log_in_page.js"></script>
</head>
<body>
<div id="log_in_page" class="">
	<svg class="Rectangle_1">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1920" height="229">
		</rect>
	</svg>
	<div id="Remind_Me">
		<span>Remind Me</span>
	</div>
	<div id="No_more_deja_vu_">
		<span>No more deja vu!</span>
	</div>
	<div id="Username_">
		<span>Username:</span>
	</div>
	<div id="Password_">
		<span>Password:</span>
	</div>
	<svg class="Rectangle_7">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_7" rx="0" ry="0" x="0" y="0" width="588" height="65">
		</rect>
	</svg>
	<svg class="Rectangle_8">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="604" height="59">
		</rect>
	</svg>
	<div id="Log_in">
		<span>Log in</span>
	</div>
	<div id="Submit">
		<span>Submit</span>
	</div>
</div>
</body>
</html>