.mediaViewInfo {
	--web-view-name: log in page;
	--web-view-id: log_in_page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: log_in_page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#log_in_page {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: log in page;
	--web-view-id: log_in_page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-deep-linking: true;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 229px;
	left: 0px;
	top: 0px;
}
#Remind_Me {
	position: absolute;
	left: 760px;
	top: 27px;
	overflow: visible;
	width: 427px;
	white-space: nowrap;
	text-align: center;
	font-family: Symbol;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(112,112,112,1);
}
#No_more_deja_vu_ {
	position: absolute;
	left: 413px;
	top: 148px;
	overflow: hidden;
	width: 1109px;
	height: 42px;
	text-align: center;
	font-family: Symbol;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}
#Username_ {
	position: absolute;
	left: 507px;
	top: 464px;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	text-align: center;
	font-family: Symbol;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(112,112,112,1);
}
#Password_ {
	position: absolute;
	left: 507px;
	top: 593px;
	overflow: visible;
	width: 291px;
	white-space: nowrap;
	text-align: center;
	font-family: Symbol;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(112,112,112,1);
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 588px;
	height: 65px;
	left: 869px;
	top: 475px;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 604px;
	height: 59px;
	left: 861px;
	top: 603px;
}
#Log_in {
	position: absolute;
	left: 861px;
	top: 323px;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: center;
	font-family: Symbol;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(112,112,112,1);
}
#Submit {
	position: absolute;
	left: 846px;
	top: 803px;
	overflow: hidden;
	width: 196px;
	height: 56px;
	text-align: center;
	font-family: Symbol;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(112,112,112,1);
}